<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key Spouse App - Statement</title>
</head>
<h1>Welcome to the Key Spouse App</h1>
    <p>Here you can find various resources and links.</p>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('statement') }}">Home</a></li>
            <li><a href="{{ url_for('tricare') }}">Tricare</a></li>
            <li><a href="{{ url_for('commissary') }}">Commissary</a></li>
            <li><a href="{{ url_for('fss') }}">FSS</a></li>
            <li><a href="{{ url_for('workout') }}">Workout</a></li>
            <li><a href="{{ url_for('meal_planner') }}">Meal Planner</a></li>
            <li><a href="{{ url_for('local_details') }}">Local Details and Tips</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li> <!-- Logout link -->
        </ul>
    </nav>

    
</body>
</html>
